*{
  padding: 0;
  margin: auto;
}
body{
  background-color: black;
  padding: 20px;
  color: white;
}

td{
  width: 15px;
  height: 15px;
}

h3{
  padding: 10px;
}

.blank{
  background-color: blank;
}

.snake{
  background-color: green;
}

.wall{
  background-color: royalblue;
}

.fruit{
  background-color: red;
}
.right{
  display: hidden
}
.instructions{
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: auto;
}